{% extends 'base.html.twig' %}

{% block title %}Set{% endblock %}

{% block body %}
    <h1>Set</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ set.id }}</td>
            </tr>
            <tr>
                <th>NbJeuDuGagnant</th>
                <td>{{ set.nbJeuDuGagnant }}</td>
            </tr>
            <tr>
                <th>NbJeuDuPerdant</th>
                <td>{{ set.nbJeuDuPerdant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('set_index') }}">back to list</a>

    <a href="{{ path('set_edit', {'id': set.id}) }}">edit</a>

    {{ include('set/_delete_form.html.twig') }}
{% endblock %}
